/* dashboard css */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

:root {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;

  --color-red: #dc2626;
  --color-green: #16a34a;
  --color-blue: #2563eb;
  --color-cyan: #0891b2;
  --color-teal: #0d9488;
  --color-fuchsia: #c026d3;
  --color-orange: #ea580c;
  --color-yellow: #ca8a04;
  --color-violet: #7c3aed;
}

[x-cloak] {
  display: none;
}

.dark .dark\:text-light {
  color: var(--light);
}

.dark .dark\:bg-dark {
  background-color: var(--dark);
}

.dark .dark\:bg-darker {
  background-color: var(--darker);
}

.dark .dark\:text-gray-300 {
  color: #d1d5db;
}

.dark .dark\:text-blue-500 {
  color: #3b82f6;
}

.dark .dark\:text-blue-100 {
  color: #dbeafe;
}

.dark .dark\:hover\:text-light:hover {
  color: var(--light);
}

.dark .dark\:border-blue-800 {
  border-color: #1e40af;
}

.dark .dark\:border-blue-700 {
  border-color: #1d4ed8;
}

.dark .dark\:bg-blue-600 {
  background-color: #2563eb;
}

.dark .dark\:hover\:bg-blue-600:hover {
  background-color: #2563eb;
}

.hover\:overflow-y-auto:hover {
  overflow-y: auto;
}

.bg-color {
  background-color: #f0f0f3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
}

/* more */

/* .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
