<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
<script defer src="https://unpkg.com/alpinejs@3.9.1/dist/cdn.min.js"></script>


<!-- page -->
<main class="flex min-h-screen w-full items-center justify-center">
    <!-- component -->
    <div x-data="select" class="relative w-[30rem]" @click.outside="open = false">
        <!-- trigger button -->
        <button type="button" @click="toggle"
            class="flex w-full items-center justify-between rounded bg-white p-2 ring-1 ring-gray-300"
            :class="(open) && 'ring-blue-600'">
            <span x-text="(language == '') ? 'Choose language' : language"></span>
            <span class="text-2xl w-5 h-5 grid place-content-center"><i class='bx bx-chevron-down'></i></span>
        </button>

        <!-- list items -->
        <ul class="z-2 absolute mt-2 w-full rounded bg-gray-50 ring-1 ring-gray-300" x-show="open">
            <li class="cursor-pointer select-none p-2 hover:bg-gray-200" @click="setLanguage('Python')">
                Python
            </li>
            <li class="cursor-pointer select-none p-2 hover:bg-gray-200" @click="setLanguage('PHP')">
                PHP
            </li>
            <li class="cursor-pointer select-none p-2 hover:bg-gray-200" @click="setLanguage('C#')">
                C#
            </li>
        </ul>
    </div>
</main>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("select", () => ({
            open: false,
            language: "",

            toggle() {
                this.open = !this.open;
            },

            setLanguage(val) {
                this.language = val;
                this.open = false;
            },
        }));
    });
</script>